# Entornos virtuales
venv/
env/

# Archivos de Python compilados
__pycache__/
*.pyc

# Git
.git
.gitignore

# Archivos de editor/IDE
.vscode/
.idea/

# BD local (si no quieres copiarla a la imagen)
db.sqlite3

# Archivos grandes innecesarios (ajusta si quisieras)
*.bin
